
@{ Layout = null;}
@model ParquetConverter.Models.ParquetModel
@using (Html.BeginForm("UploadFileNew", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

<body style="background-image: url('./images/bg1.png');background-repeat: no-repeat;background-size: cover;">
<div style="text-align: right;margin-right: 2.5%;margin-top: 2%;">
    <a style="margin-top: 2%;margin-right: 0%;text-align: right;" class= "text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" href="@Url.Action("","")">Back</a>
</div>
<div class="flex items-center justify-center w-full" style="margin-top: 2%;padding-left: 5vh;padding-right: 5vh;">
    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
            
        </div>
        @Html.LabelFor(m => m.Parquet)
        <input id="dropzone-file" type="file" name="Parquet" />
    </label>
</div> 

<div style="display: inline;justify-content: center;align-items: center;">
    <span style="margin-left: 1rem;">
        <input style="margin-top: 10vh; margin-left: 30%;" type="submit" value="Submit" name="Parquet" id="file" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" />
        
        <a style="margin-left: 2%;" class= "text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" href="@Url.Action("DownloadFile","")">Download as txt</a>

    </span>
</div>
    
</body>

}





