


@model ParquetConverter.Models.ParquetModel

<!-- some stuff -->

@using (Html.BeginForm("gf", "HelloWorld", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!-- Razor form controls for other model properties -->
    
    <button type="submit" class="btn btn-success" style="font-size:larger; font-weight:bolder;">Download Log</button> 

}





