@{ Layout = null;}
<html>


<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<body style="background-image: url('./images/bg1.png');background-repeat: no-repeat;background-size: cover;">


    <div  style="text-align:center;margin-top: 10em;">
        

        <div style="margin-bottom: 20vh;">
            <p style="font-size: 3vw;" class="text-resize font-mono text-5xl">Parque file converter app</p>
        </div>
        <div>
            <a class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-base px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" href="@Url.Action("","Upload")">Upload a file</a>
            <a style="margin-left: 5rem;" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-base px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" href="@Url.Action("Login","")">Login</a>
        </div>
    </div>
<!-- HTML !-->


    
    
</body>

</html>